In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv ('spatial join.csv')
print (df)

        Cell-ID  Node-ID
0             1    77714
1             1    77715
2             1    78532
3             2    76902
4             2    77714
...         ...      ...
920453   306818    61449
920454   306818    61465
920455   306819   113209
920456   306819   114383
920457   306819   114384

[920458 rows x 2 columns]

In [6]:
df.groupby('Cell-ID')['Node-ID'].apply(list)

Cell-ID
1            [77714, 77715, 78532]
2            [76902, 77714, 77715]
3            [77715, 77741, 78532]
4            [77743, 78563, 78564]
5            [76902, 76903, 77716]
                    ...
306815       [72810, 73197, 73694]
306816       [88990, 88991, 90051]
306817    [108853, 108872, 110082]
306818       [61448, 61449, 61465]
306819    [113209, 114383, 114384]
Name: Node-ID, Length: 306819, dtype: object

In [8]:
df1 = df.groupby('Cell-ID')['Node-ID'].apply(list).reset_index(name='new')

In [10]:
print(df1)

        Cell-ID                       new
0             1     [77714, 77715, 78532]
1             2     [76902, 77714, 77715]
2             3     [77715, 77741, 78532]
3             4     [77743, 78563, 78564]
4             5     [76902, 76903, 77716]
...         ...                       ...
306814   306815     [72810, 73197, 73694]
306815   306816     [88990, 88991, 90051]
306816   306817  [108853, 108872, 110082]
306817   306818     [61448, 61449, 61465]
306818   306819  [113209, 114383, 114384]

[306819 rows x 2 columns]

In [11]:
df1.to_csv("SacMF6_elements.csv")